<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザー新規登録</h2>
        <%# 「モデル名」にはUserモデルであれば@userを渡しましょう。%>
        <%# 「新規登録機能へのパス」は、devise導入後にrails routesを実行してdevise/registrations#createへのパスを確認し、記載してください。 %>
        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="inputs">
          <label class="label">メールアドレス</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="inputs">
          <label class="label">パスワード(6文字以上)</label>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="inputs">
          <label class="label">パスワード再入力</label>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="inputs">
          <label class="label">お名前</label>
          <%= f.text_field :nickname %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<form>
	<div class="inputs">
		<label class="label">お名前</label>
		<input class="input_form" type="text" name="name">
	</div>
    <div class="inputs">
		<label class="label">年齢</label>
		<input class="input_form" type="number" name="age">
	</div>
	<div class="inputs">
		 <label class="label">メールアドレス</label>
		 <input class="input_form" type="email" name="email">
	</div>
	<div class="inputs">
		 <label class="label">お問い合わせ内容</label>
		 <textarea class="input_form"></textarea>
	</div>
	<div class="btn-area">
		<input type="reset" value="リセット"><input type="submit" value="送信">
	</div>
</form>
