<div class="card">
  <div class="event">
    <% event.images.each do |image| %>
      <%= link_to image_tag(image, class: 'images'), event_path(event.id), class:  :home_image %>
      <% break %>
    <% end %>
    <% event.tags.each do |tag| %>
      #<%= tag.tag_name %>
    <% end %>
  </div>
  <div class="card__body">
    <%= link_to event.name, event_path(event.id), class: :card__title%>
    <p class="card__summary">
      <%= "プロトタイプのキャッチコピー" %>
    </p>
    <%= link_to event.user.nickname, root_path, class: :card__user %>
  </div>
</div>