<main class="main">
  <div class="inner">
   絞り込み検索
  <%= search_form_for @p, url: events_search_path do |f| %>
    <%= f.collection_select(:facility_id_eq, Facility.all, :id, :name, {}, {class:"select-box"}) %> 
    <%= f.collection_select(:scale_id_eq, Scale.all, :id, :name, {}, {class:"select-box"}) %> 
    <%= f.collection_select(:category_id_eq, Category.all, :id, :name, {}, {class:"select-box"}) %>
    <%= f.submit "検索", class: "search-btn" %>
  <% end %>
  <%= form_with(url: search_tag_events_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "タイトル・タグ検索", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
  
    <%# ログインしているときは以下を表示する %>
    <% if user_signed_in? %>
       <div class="greeting"> 
        <%= "こんにちは、" %>
          <%= link_to "#{current_user.nickname}さん", user_path(current_user.id), class: :greeting__link%> 
       </div> 
    <% end %>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%= render partial: 'event', collection: @events %>
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      
</main>
